body {
  background: #d6f5ab url("images/myanistarback2.gif"); }

@keyframes wave {
  from {
    transform: translateY(0);
    color: white; }
  to {
    transform: translateY(-90px); } }

h1 {
  margin-top: 1em;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
  font-size: 6vw;
  position: fixed;
  white-space: nowrap;
  z-index: 683992; }
  h1 span {
    display: inline-block;
    animation-duration: 0.3s;
    animation-name: wave;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

h2 {
  font-size: 30px;
  margin-top: 0; }

h1 :nth-child(40n + 0) {
  animation-delay: -0.6s;
  color: #640a64; }

h1 :nth-child(40n + 1) {
  animation-delay: -0.585s;
  color: #780a8c; }

h1 :nth-child(40n + 2) {
  animation-delay: -0.57s;
  color: #8c0a82; }

h1 :nth-child(40n + 3) {
  animation-delay: -0.555s;
  color: #a00a78; }

h1 :nth-child(40n + 4) {
  animation-delay: -0.54s;
  color: #b40a6e; }

h1 :nth-child(40n + 5) {
  animation-delay: -0.525s;
  color: #640a64; }

h1 :nth-child(40n + 6) {
  animation-delay: -0.51s;
  color: #780a8c; }

h1 :nth-child(40n + 7) {
  animation-delay: -0.495s;
  color: #8c0a82; }

h1 :nth-child(40n + 8) {
  animation-delay: -0.48s;
  color: #a00a78; }

h1 :nth-child(40n + 9) {
  animation-delay: -0.465s;
  color: #b40a6e; }

h1 :nth-child(40n + 10) {
  animation-delay: -0.45s;
  color: #640a64; }

h1 :nth-child(40n + 11) {
  animation-delay: -0.435s;
  color: #780a8c; }

h1 :nth-child(40n + 12) {
  animation-delay: -0.42s;
  color: #8c0a82; }

h1 :nth-child(40n + 13) {
  animation-delay: -0.405s;
  color: #a00a78; }

h1 :nth-child(40n + 14) {
  animation-delay: -0.39s;
  color: #b40a6e; }

h1 :nth-child(40n + 15) {
  animation-delay: -0.375s;
  color: #640a64; }

h1 :nth-child(40n + 16) {
  animation-delay: -0.36s;
  color: #780a8c; }

h1 :nth-child(40n + 17) {
  animation-delay: -0.345s;
  color: #8c0a82; }

h1 :nth-child(40n + 18) {
  animation-delay: -0.33s;
  color: #a00a78; }

h1 :nth-child(40n + 19) {
  animation-delay: -0.315s;
  color: #b40a6e; }

h1 :nth-child(40n + 20) {
  animation-delay: -0.3s;
  color: #640a64; }

h1 :nth-child(40n + 21) {
  animation-delay: -0.285s;
  color: #780a8c; }

h1 :nth-child(40n + 22) {
  animation-delay: -0.27s;
  color: #8c0a82; }

h1 :nth-child(40n + 23) {
  animation-delay: -0.255s;
  color: #a00a78; }

h1 :nth-child(40n + 24) {
  animation-delay: -0.24s;
  color: #b40a6e; }

h1 :nth-child(40n + 25) {
  animation-delay: -0.225s;
  color: #640a64; }

h1 :nth-child(40n + 26) {
  animation-delay: -0.21s;
  color: #780a8c; }

h1 :nth-child(40n + 27) {
  animation-delay: -0.195s;
  color: #8c0a82; }

h1 :nth-child(40n + 28) {
  animation-delay: -0.18s;
  color: #a00a78; }

h1 :nth-child(40n + 29) {
  animation-delay: -0.165s;
  color: #b40a6e; }

h1 :nth-child(40n + 30) {
  animation-delay: -0.15s;
  color: #640a64; }

h1 :nth-child(40n + 31) {
  animation-delay: -0.135s;
  color: #780a8c; }

h1 :nth-child(40n + 32) {
  animation-delay: -0.12s;
  color: #8c0a82; }

h1 :nth-child(40n + 33) {
  animation-delay: -0.105s;
  color: #a00a78; }

h1 :nth-child(40n + 34) {
  animation-delay: -0.09s;
  color: #b40a6e; }

h1 :nth-child(40n + 35) {
  animation-delay: -0.075s;
  color: #640a64; }

h1 :nth-child(40n + 36) {
  animation-delay: -0.06s;
  color: #780a8c; }

h1 :nth-child(40n + 37) {
  animation-delay: -0.045s;
  color: #8c0a82; }

h1 :nth-child(40n + 38) {
  animation-delay: -0.03s;
  color: #a00a78; }

h1 :nth-child(40n + 39) {
  animation-delay: -0.015s;
  color: #b40a6e; }

.webring {
  font-family: cursive;
  color: salmon;
  text-align: center; }

.epilepsy {
  font-family: 'Rakkas', cursive;
  text-align: center;
  color: transparent;
  font-size: 24px;
  display: block;
  width: 170px;
  margin: 50px auto 180px;
  background: linear-gradient(to right, red 0%, yellow 19%, lime 38%, cyan 51%, blue 67%, magenta 83%, red 99%);
  background-clip: text;
  -webkit-background-clip: text; }

.grid {
  display: grid;
  margin: 0 20px;
  grid-template-columns: 1fr;
  grid-gap: 10px; }
  @media (min-width: 500px) {
    .grid {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 800px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (min-width: 1200px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (min-width: 1800px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }

article {
  position: relative;
  display: inline-block;
  font-family: 'VT323', monospace; }
  article .content {
    background: white;
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
    padding: 10px; }
  article p {
    margin: 0; }
  article img {
    width: 100%;
    border: solid 5px;
    border-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%) 20; }
  article h2 {
    color: white; }

marquee {
  font-size: 22px;
  margin-top: 40px;
  font-family: 'VT323', monospace;
  color: lemonchiffon; }

.ff_now {
  float: right; }

.visitors {
  font-family: 'VT323', monospace;
  text-align: center;
  color: aqua; }

#visitor-counter {
  font-size: 24px;
  background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5), transparent), linear-gradient(to right, white 0px, white 1px, black 1px);
  display: inline-block;
  color: white;
  letter-spacing: 2.3px;
  padding-left: 2px;
  background-size: 12px 100%; }

small {
  color: greenyellow;
  display: block;
  max-width: 500px;
  margin: 12px auto; }

#guest-book {
  background-color: antiquewhite;
  padding: 10px; }
  #guest-book h3 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin: 0 0 10px; }
  #guest-book div {
    height: calc(100% - 60px);
    font-family: cursive; }

#flag {
  position: fixed;
  bottom: 10px;
  right: 10px; }
