body {
  background: #d6f5ab url('images/myanistarback2.gif');
}

$offset: -90px;
$count: 40;
$duration: 0.3;

@keyframes wave {
  from {
    transform: translateY(0);
    color: white;
  }
  to {
    transform: translateY($offset);
  }
}

h1 {
  margin-top: 1em;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
  font-size: 6vw;
  position: fixed;
  white-space: nowrap;
  z-index: 683992;

  span {
    display: inline-block;

    animation-duration: #{$duration}s;
    animation-name: wave;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

h2 {
  font-size: 30px;
  margin-top: 0;
}

@for $i from 0 to $count {
  h1 :nth-child(#{$count}n + #{$i}) {
    animation-delay: -#{($count - $i) * 2 * $duration / $count }s;

    color: rgb(100 + ($i * 20 % 100), 10, 100 + ($i * 40 % 50));
  }
}

.webring {
  font-family: cursive;
  color: salmon;
  text-align: center;
}

.epilepsy {
  font-family: 'Rakkas', cursive;
  text-align: center;
  color: transparent;
  font-size: 24px;
  display: block;
  width: 170px;
  margin: 50px auto 180px;

  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 0, 1) 19%,
    rgba(0, 255, 0, 1) 38%,
    rgba(0, 255, 255, 1) 51%,
    rgba(0, 0, 255, 1) 67%,
    rgba(255, 0, 255, 1) 83%,
    rgba(255, 0, 0, 1) 99%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.grid {
  display: grid;
  margin: 0 20px;

  grid-template-columns: 1fr;
  grid-gap: 10px;
  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 1800px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

article {
  position: relative;
  display: inline-block;
  font-family: 'VT323', monospace;

  .content {
    background: white;
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
    padding: 10px;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    border: solid 5px;
    border-image: radial-gradient(
        farthest-corner at 40px 40px,
        #f35 0%,
        #43e 100%
      )
      20;
  }

  h2 {
    color: white;
  }
}

marquee {
  font-size: 22px;
  margin-top: 40px;
  font-family: 'VT323', monospace;
  color: lemonchiffon;
}

.ff_now {
  float: right;
}

.visitors {
  font-family: 'VT323', monospace;
  text-align: center;
  color: aqua;
}

#visitor-counter {
  font-size: 24px;
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
    ),
    linear-gradient(to right, white 0px, white 1px, black 1px);
  display: inline-block;
  color: white;
  letter-spacing: 2.3px;
  padding-left: 2px;
  background-size: 12px 100%;
}

small {
  color: greenyellow;
  display: block;
  max-width: 500px;
  margin: 12px auto;
}

#guest-book {
  background-color: antiquewhite;
  padding: 10px;

  h3 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin: 0 0 10px;
  }

  div {
    height: calc(100% - 60px);
    font-family: cursive;
  }
}

#flag {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
